/* styles.css */

/* Body要素に対するスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  /* リンクに対するスタイル */
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* フォーム要素に対するスタイル */
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    padding: 8px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* マップコンテナに対するスタイル */
  #map {
    width: 100%;
    height: 600px;
    margin-top: 20px;
  }
  